<!doctype html>
<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

<title>Object Detection System</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/style.css" rel="stylesheet">
<link rel="icon" href="data:,">


<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Animal Object Detection System</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/">Results</a>
            <a class="nav-link" href="/info">Info</a>
          </nav>
          
        </div>
    <div>
        <h1 class="cover-heading">For the object detection system, i decided to use the coco model, which contains 90 classes.</h1>
        <h2 class="cover-heading">This system works with tensorflow serving and grpc, the client will submit an image(the image 
            need to meet all the requirements), then this image will be sent to the tensorflow serving throught the interface of grpc.</h2>
        <h3 class="cover-heading">This website run on docker container.</h3>
    </div>




        <h>Hope all the information are useful and clear, Thanks for using this website for your image classification</h>









<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Company leader in animal classification <Bootstrap</a>, by Zoo Inc.</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>